body{
    background-color: #17181f;
    color: #aaa;
}
*{
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
main{
    max-width: 300px;
    margin: 0 auto;
}
form{
    border: 3px solid #30313d;
    border-radius: 10px;
    padding: 5px;
    display: flex;
}

form input[type="text"]{
    background: none;
    border: 0;
    border-radius: 10px;
    display: block;
    padding: 0 8px;
    width: 100%;
}
form button{
    background-color: #61dafb;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}
div.task{
    background-color: #30313d;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    align-items: center;
    transition: opacity .3s linear;
}
div.task svg{
    height: 20px;
    margin-right: 6px;
    fill: #61dafb;
}
div.task.done{
    opacity: 0.5;
    text-decoration: line-through;
}
div.task-name, div.task form{
    flex-grow: 1;
}

div.task span{
    position: relative;
    flex-grow: 1;
}
div.task span::before{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    top: 10px;
    transition: width .3s linear;
}
div.task.done span::before{
    width: 100%;
}

div.checkbox{
    display: flex;
}
div.checkbox svg{
    height: 20px;
    margin-right: 4px;

}
h1, h2{
    text-align: center;
}
div.checkbox{
    display: flex;
    align-items: center;
}

button.trash{
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
}
button.trash svg{
    fill: #888;
    height: 14px;
}

div.task input{
    border: 2px solid #777;
    border-radius: 5px;
    padding: 2px 4px;
    color: #ddd;
}